.main-pokemon-list {
    margin: 0 auto;
    width: 80%;
}

.pokemons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid;
    margin-top: 15px;
}

.pokemons-list-items {
    display: inline-block;
    width: 23%;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    width: 120px;
    margin: 0px 5px 0 5px;
}