.main-pokemon-list {
    margin: 0 auto;
    width: 80%;
}

.pokemons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid;
    margin-top: 15px;
}

.pokemons-list-items {
    display: inline-block;
    width: 23%;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.pokemons-element {
    cursor: pointer;
    border: 1px solid;
    border-radius: 100%;
    margin: 10px 45px;
    background-color: rgb(254, 255, 235);
}

.pokemon-name {
    text-transform: capitalize;
    margin: -15px 0 15px 0;
}

button {
    cursor: pointer;
    width: 120px;
    margin: 0px 5px 0 5px;
}

